<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="login_approval_restrict_website" instance="Commercers\LoginApproval\Observer\RestrictWebsite" />
    </event>
<!--    <event name="controller_action_predispatch_cms_index_index">-->
<!--        <observer name="cms_index_index_login_approval_restrict_website" instance="Commercers\LoginApproval\Observer\RestrictWebsite" />-->
<!--    </event>-->
</config>
